nav{
    height: 70px;
}
nav form span i{
    padding: 4px;
    color: rgb(13, 110, 253);
}

nav input[type="submit"] {
    width: 100%;
    margin: 0px 0px;
}

.container{
    background-color: rgb(242, 249, 255);
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
    width: 60%;
}

.display-4{
    font-size: 30px;
}

.container .form-control{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    font-size: 20px;
}

input[type = 'submit']{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;

}