nav form span i{
    padding: 4px;
    color: rgb(13, 110, 253);
}



.cover{
    width: 70%;
    height: 400px;
    background-color: darkgray;
    margin: auto;
    border: 3px solid white;
    border-radius: 20px;
    border-top: none;
}

.create{
    width: 70%;
    border: 2px solid wheat;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.posts{
    width: 70%;
    border: 2px solid wheat;
    border-radius: 20px;
}

.PostPhoto{
    display: block;
    width: 50%;
    margin:  auto;
    border-radius: 10px;
}