nav{
    height: 70px;
}
nav form span i{
    padding: 4px;
    color: rgb(13, 110, 253);
} 



.container{
    margin-top: 70px;
    width: 70%;
    border: 2px solid wheat;
    border-radius: 20px;
}

.post-image{
    width:50%;
    display: block;
    margin: auto;
    border-radius: 20px;
}